### Assignment

# Demographic Data Analyzer

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |


You must use Pandas to answer the following questions:
* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India. 

Use the starter code in the file `demographic_data_anaylizer`. Update the code so all variables set to "None" are set to the appropriate calculation or code. Round all decimals to the nearest tenth.

Unit tests are written for you under `test_module.py`.

### Development

For development, you can use `main.py` to test your functions. Click the "run" button and `main.py` will run.

### Testing 

We imported the tests from `test_module.py` to `main.py` for your convenience. The tests will run automatically whenever you hit the "run" button.

### Submitting

Copy your project's URL and submit it to freeCodeCamp.

### Dataset Source

Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/Frances-Anthony/Documents/Udacity/Freecodecamp/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.columns = df.columns.str.replace("-", "_")

In [4]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.shape

(32561, 15)

In [6]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [9]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'salary'],
      dtype='object')

In [10]:
df.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education_num        16
marital_status        7
occupation           15
relationship          6
race                  5
sex                   2
capital_gain        119
capital_loss         92
hours_per_week       94
native_country       42
salary                2
dtype: int64

#### QUESTION 1

#### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [11]:
race = df.race.value_counts()
print("Number of each race:\n", race)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [12]:
#df.groupby('race')['race'].count()

#### QUESTION 2
#### What is the average age of men?

In [13]:
df.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [14]:
male_count = df.query('sex == "Male"')
print("Average age of men:", round(male_count.age.mean()))

Average age of men: 39

In [15]:
avg_age = df.groupby('sex').age.mean()
print("Average age of Male & Female:\n", avg_age)

Average age of Male & Female:
 sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

In [16]:
type(avg_age)

pandas.core.series.Series

In [17]:
#s = df.groupby('sex', as_index=False).age.mean()
#s

#### QUESTION 3
#### What is the percentage of people who have a Bachelor's degree?

In [18]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [19]:
df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [20]:
(df['education'] == 'Bachelors').sum()

5355

In [21]:
percentage_Bachelors = (((df['education'] == 'Bachelors').sum())/df.shape[0])*100
print(f"Percentage of people with Bachelor's degree:{round(percentage_Bachelors, 2)}%")

Percentage of people with Bachelor's degree:16.45%

#### QUESTION 4
#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [22]:
df.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [23]:
#df.head()

In [24]:
#adv_percent = ((df.loc[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') 
 #      | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].count())/df.shape[0])*100
#adv_percent

In [25]:
adv_percentage = (len(df[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') 
       | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')])/(df.shape[0]))*100
print(f"Percentage of people with advanced education earning >50K: {round(adv_percentage, 2)} %")

Percentage of people with advanced education earning >50K: 10.71 %

In [26]:
#idx = np.where((df['education'] == 'Bachelors') | (df['education'] == 'Masters') 
       #| (df['education'] == 'Doctorate'))
#idx

#### QUESTION 5
#### What percentage of people without advanced education make more than 50K?

In [27]:
lower_percentage = (len(df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') 
       | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')])/(df.shape[0]))*100
#lower_percentage
print(f"Percentage of people without advanced education earning >50K is {round(lower_percentage, 2)} %")

Percentage of people without advanced education earning >50K is 13.37 %

#### QUESTION 6
#### What is the minimum number of hours a person works per week?

In [28]:
min_hour = df.hours_per_week.min()
print(f"Minimum hour per week: {min_hour} hr")

Minimum hour per week: 1 hr

#### QUESTION 7
#### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [29]:
#((df.query('hours_per_week == 1 & salary == ">50K"').count())/(df.shape[0]))*100

In [30]:
min_num_hours = (len((df.query('hours_per_week == 1 & salary == ">50K"')))/(df.shape[0]))*100
print(f"Percentage with minimum number of hours earning >50K: {round(min_num_hours, 4)}%")

Percentage with minimum number of hours earning >50K: 0.0061%

In [31]:
#df.query('hours_per_week == 1 & salary == ">50K"').count()
#len(df[df['hours_per_week'] == 1])
#len(df.query('hours_per_week == 1'))

In [32]:
#(len(df[(df['hours_per_week'] == 1) & (df['salary'] == '>50K')])/df.shape[0])*100

#### QUESTION 8
#### What country has the highest percentage of people that earn >50K and what is that percentage?

In [33]:
#df.native_country.unique()
#df.native_country.value_counts()

In [34]:
#max = df[df['salary'] == '>50K'].count()
high_salary = len((df.query('salary == ">50K"')))
high_salary

7841

In [35]:
#country = high_salary[['native_country']]
#high_salary = df[df['salary'] == '>50K']
#df.groupby('native_country').salary.count()

In [36]:
df['native_country'].shape[0]

32561

In [37]:
#country_percentage = (len(df[df['salary'] == '>50K'][['native_country', 'salary']])/df['native_country'].shape[0])*100
#print(f"The country with highest percentage of people that earn >50K: {round(country_percentage, 2)}%")

In [38]:
#(len(df[df['salary'] == '>50K'][['native_country']])/(df.shape[0]))*100

In [39]:
top_country = ((df[df['salary'] == '>50K']['native_country'].value_counts())/ (df['native_country'].value_counts()) * 100)
top_country.idxmax(), top_country.max()

('Iran', 41.86046511627907)

In [40]:
print(f"The country with highest percentage of people that earn >50K is {top_country.idxmax()} with percentage of {round(top_country.max(), 2)}%")

The country with highest percentage of people that earn >50K is Iran with percentage of 41.86%

#### QUESTION 9
#### Identify the most popular occupation for those who earn >50K in India.

In [59]:
#df['native_country'].value_counts()
#len(df[(df['salary'] == '>50K') & (df['native_country'] == 'India')])
india_50K = df[(df['salary'] == '>50K') & (df['native_country'] == 'India')]

In [117]:
#(df[df['salary'] == '>50K']['occupation']) & (df['native_country'] == 'India')
#df[df['salary'] == '>50K'][['occupation', 'native_country']]
india_50K = df[(df['salary'] == '>50K') & (df['native_country'] == 'India')]
top_occupation = india_50K['occupation'].value_counts()
top_occupation

Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [125]:
print(f"The most popular occupation for those who earn >50K in India is {top_occupation.idxmax()}")

The most popular occupation for those who earn >50K in India is Prof-specialty

In [101]:
#df['occupation'].unique()

In [77]:
#percentage of occupations
top_occupation = ((df[df['salary'] == '>50K']['occupation'].value_counts())/ (df['occupation'].value_counts()) * 100)
top_occupation

?                    10.363538
Adm-clerical         13.448276
Armed-Forces         11.111111
Craft-repair         22.664064
Exec-managerial      48.401377
Farming-fishing      11.569416
Handlers-cleaners     6.277372
Machine-op-inspct    12.487512
Other-service         4.157815
Priv-house-serv       0.671141
Prof-specialty       44.903382
Protective-serv      32.511556
Sales                26.931507
Tech-support         30.495690
Transport-moving     20.037570
Name: occupation, dtype: float64