In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.1.3

#### Create an empty pandas Series

In [6]:
#pd.Series()

#Given the X python list convert it to an Y pandas Series

X = ['A', 'B', 'C']
Y = pd.Series(X)

In [9]:
print(Y, type(Y))

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [14]:
# Given the X pandas Series, name it 'My letters'

'''
X = pd.Series(X)
X.name = 'My letters'
X
'''

#OR

X = pd.Series(['A', 'B', 'C'])
X.name = 'My lettters'
X

0    A
1    B
2    C
Name: My lettters, dtype: object

In [15]:
X = pd.Series(['A','B','C'])

X.values

array(['A', 'B', 'C'], dtype=object)

### Series indexation
#### Assign index names to the given X pandas Series

In [19]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']
X.index = index_names
X.index

Index(['first', 'second', 'third'], dtype='object')

In [20]:
#assigned the index to series
X

first     A
second    B
third     C
dtype: object

In [23]:
#to call index
X.index[0] #by position
#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'A'

In [24]:
X[0]

'A'

In [27]:

X[2]
X.iloc[:3]

first     A
second    B
third     C
dtype: object

In [30]:
#last element
X[-1], X.iloc[-1], X['third']

('C', 'C', 'C')

In [31]:
#X[-1] # by position
#X.iloc[-1] # by position
#X['third'] # by index

In [34]:
#Given the X pandas Series, show all middle elements
X[-2], X.iloc[-2], X['second'], X.index[2]#it takes zero as first element like python

('B', 'B', 'B', 'third')

In [36]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
X.iloc[1:-1] # by position
#X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

In [37]:
X.iloc[1:]

second    B
third     C
forth     D
fifth     E
dtype: object

In [38]:
X.iloc[-1]

'E'

In [39]:
X.iloc[1:-1]

second    B
third     C
forth     D
dtype: object

In [40]:
#Given the X pandas Series, show the elements in reverse position,( :: shows reverse order)
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [42]:
#show the first and last elements
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X.index[0] #array is only 1 dimensional, cannot take two input like (X.index[0, -1])

'first'

In [51]:
X.iloc[[0, -1]] # first and last element(double bracket, with coomma)

first    A
fifth    E
dtype: object

In [57]:
#from zero to fourth
X.iloc[0:-1]

first     A
second    B
third     C
forth     D
dtype: object

In [64]:
X.iloc[[0, -1]] #first and last index by position

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
#X[[0, -1]]

first    A
fifth    E
dtype: object

#### Series manipulation
#### Convert the given integer pandas Series to float

In [65]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [72]:
#Reverse the given pandas Series (first element becomes last)

X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X[:: -1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [73]:
#Order (sort) the given pandas Series
X.values

array([1, 2, 3, 4, 5], dtype=int64)

In [75]:
X.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [77]:
#Given the X pandas Series, set the fifth element equal to 10
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X.iloc[-1] = 10

In [78]:
X

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

In [79]:
X[4]

10

In [80]:
#change all the middle elements to 0
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X.iloc[1:-1]

second    2
third     3
forth     4
dtype: int64

In [81]:
X.iloc[1:-1] = 0

In [82]:
X

first     1
second    0
third     0
forth     0
fifth     5
dtype: int64

In [83]:
#add 5 to every element
X + 5

first      6
second     5
third      5
forth      5
fifth     10
dtype: int64

#### Series boolean arrays (also called masks)
#### Given the X pandas Series, make a mask showing negative elements

In [84]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [85]:
#show the negative elements using mask
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [86]:
#get numbers higher than 5
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [93]:
#get numbers higher than the elements mean
mean = X.mean()
gr8_mean = X > mean
X[gr8_mean]

1     2
4     5
5     6
9    10
dtype: int64

In [94]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

In [97]:
#get numbers equal to 2 or 10

mask = (X > 2) | (X > 10)
X[mask]

4     5
5     6
9    10
dtype: int64

In [98]:
mask = (X == 2) | (X == 10) # == equal to
X[mask]

1     2
9    10
dtype: int64

#### Logic functions
#### Given the X pandas Series, return True if none of its elements is zero

In [100]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X == 0
X[mask]

2    0
6    0
7    0
dtype: int64

In [101]:
X.all() #True if none of its elements is zero

False

In [102]:
X.any() #True if any of its elements is zero

True

#### Summary statistics
#### Given the X pandas Series, show the sum of its elements

In [103]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.sum()

37

In [104]:
#show the mean value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

3.7

In [105]:
#show the max value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10